html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 560px;
  height: 700px;
  background-color: #E9FFE9;
}
  
  h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
  }

  p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 2;
  }

  .button {
    margin-top: 20px;
    text-align: center;
  }
  #button-iniciar {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 100;
    background-color: #212121; 
    color: white; 
    border-radius: 5px; 
    width: 142px;
    height: 46px;
    border: none;
  }