.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
  
#svg-map {
    width: 500px;
    height: auto;
}

g {
    cursor: pointer;
}

#svg-map path {
    stroke: black;
    stroke-width: 0.1;
}

.tooltip-state {
    font-family: 'Quicksand', sans-serif;
    padding-top: 1px;
    margin-bottom: 10px;
    width: 181px;
    height: 107px;
    background-color: white;
    color: black
}

.tooltip-state h1{
    font-size: 20px;
    padding: 1px;
}